<div class="container">
  <h1>Restaurant List</h1>
  <%@restaurants.each do |restaurant|%>
  <h2><%=link_to "#{restaurant.name}",restaurant_path(restaurant)%></h2>
  <%end%>
  <%= link_to "add a new restaurant",new_restaurant_path,class: "btn btn-primary"%>
</div>
